body {
    margin: 0 auto;
    height: 100%;
    background-color: #1A1D22;
}

/* SCROLLBAR --------------------------------------------------------- */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3c414b; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1A1D22; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(17, 19, 22);
}

/* GENERAL /////////////////////////////////////////////////////////// */
/* NAVBAR------------------------------------------------------------- */
.navbar {
  background-color: #1A1D22 !important;
  border-bottom: #ED1C24 solid 4px;
  margin: auto;
 font-family: 'Montserrat', sans-serif;
}

#navDropdown {
  position: static;
}

#navDropdownMenu {
  width: 100%;
  background-color: rgba(17, 19, 22, .9);
}

.navbar-toggler {
  border: none;
}

/* DROPDOWNS --------------------------------------------------------- */
.dropdown-menu.show {
  background-color: #2d323a;
 font-family: 'Montserrat', sans-serif;
}

.dropdown-menu a {
  color: white;
}

.dropdown-menu a.dropdown-item:hover {
  background-color: #2d323a;
  color: white;
  font-weight: 600;
}

/* ACCORDION --------------------------------------------------------- */
.accordionBody {
  background-color: #2d323a;
  color: white;
 font-family: 'Montserrat', sans-serif;
 border: #1A1D22 solid 3px;
}

.accordionBodyBg {
  background-color: #1A1D22;
}

.accordionLink {
  color: white;
  text-decoration: none !important;
}

.accordionLink:hover {
  color: #ED1C24;
}

/* BUTTONS ----------------------------------------------------------- */
.btn {
 font-family: 'Montserrat', sans-serif;
}

.btn-danger {
  background-color: #3c414b;
  border: none;
}

.btn:focus {
  box-shadow: none;
  border: none;
}

.btn-secondary {
  background-color: #505a64;
  border: none;
}

/* MODALS ---------------------------------------------------------*/
.modal-content {
  background-color: #2d323a !important;
  color: white;
}

.modal-content :any-link {
  color: white;
}

.modal-header {
  border-bottom: #3c414b solid 1px;
}

.modal-footer {
  border-top: #3c414b solid 1px;
}

.card-img-top {
  cursor: pointer;
}


.modalExpandImageBody {
  margin: auto;
  display: block;
  width: 100%;
}

.imageModal {
  background-color: rgba(0, 0, 0, 0.7);
  -moz-user-select: none;
  -webkit-user-select: none;
}

.imageModal img {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1000px;
  border-radius: 5px;
  margin-top: 10vh;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.imageModalCaption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1000px;
  text-align: center;
  color: white;
  padding: 10px 0 0 0;
  height: 150px;
  font-family: 'Montserrat', sans-serif;
}

/* PARAGRAPHS ---------------------------------------------------------*/
.defaultParagraph {
  color: white;
 font-family: 'Montserrat', sans-serif; 
}

#new-text-color1 {
  color: rgb(255, 153, 0);
}

/* PRODUCT CARDS ----------------------------------------------------- */
.productCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 5vw 20px 5vw;
}

.productCard {
  border: none;
  margin: 0 10px 20px 10px;
  border-radius: 15px;
  /* transition: transform .5s; */
}

/* .productCard:hover {
  transform: scale(1.03);
  transition: 0.25s;
} */

.productCardBody {
  background-color: #2d323a;
  color: white;
  border-radius: 0 0 10px 10px;
}

.productCardDescription {
  background-color: #1A1D22;
  color: white;
}

/* FOOTER ------------------------------------------------------------ */
.footer {
  color: white;
 font-family: 'Montserrat', sans-serif;
}

.footer :any-link {
  color: #75828f;
}

.footer :any-link:hover {
  color: white;
}

.footerSocial {
  background-color: #2d323a !important;
}

.fbIcon {
  color: white;
}

.twIcon {
  color: white;
}

.activeFooterLink :any-link {
  color: white;
}

/* LANDING PAGE ////////////////////////////////////////////////////// */
/* LANDING DIV-------------------------------------------------------- */
  .landingDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 70vh;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    position: relative;
    -moz-user-select: none;
    -webkit-user-select: none;
  }

  .landingTextContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .landingTextContainer h1 {
    color: white;
    font-size: 100px;
    font-weight: bold;
  }

  .landingDiv img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    /* animation: landingZoomOut 10s linear forwards; */
  }

  /* @keyframes landingZoomOut {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.8);
    }
  } */

 /* CATEGORY GRID ---------------------------------------------------- */
 .categoryGridContainer {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 20px 2vw 20px 2vw;
   -moz-user-select: none;
   -webkit-user-select: none;
 }

.categoryGrid {
  display: flex;
  overflow: hidden;
  background-color: #2d323a;
  flex: calc(50%);
  height: 425px;
  margin: 0px;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  /* transition: transform .5s; */
  cursor: pointer;
}

.categoryGrid:hover {
  background-image: none;
  background-color: #1A1D22;
  color: #2d323a;
  filter: none;
  /* transform: scale(1.03); */
  transition: 0.25s;
}

.categoryGrid img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  filter: opacity(30%);
}

.categoryGrid h3 {
  color: white;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  top: 75%;
  left: 10%;
  cursor: pointer;
}

.collapse {
  overflow-y: scroll !important;
  max-height: 250px !important;
}

/* FOOTBALL PAGE ///////////////////////////////////////////////////// */
/* HEADER ------------------------------------------------------------ */
.pageTitle {
  display: block;
  overflow: hidden;
  text-align: center;
  background-color: #1A1D22;
  padding: 85px 0 0 0;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.pageTitle h2 {
  font-weight: bold;
}

/* FOOTBALL PAGINATION ----------------------------------------------- */
.footballPagination {
  display: flex;
  justify-content: center;
  margin: 0 0 20px 0;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.page-link:focus {
  box-shadow: none;
  border: none;
}

.footballPagination a {
  background-color: #1A1D22;
  border: #1A1D22 solid 1px;
}

.footballPagination a:hover {
  background-color: #1A1D22;
  border: #1A1D22 solid 1px;
  color: #ED1C24;
}

.footballPaginationActive a {
  background-color: #1A1D22;
  color: #ED1C24 !important;
}

.footballPagination :any-link {
  color: white;
}

/* RECOMMENDED PRODUCTS TITLE ---------------------------------------- */
.recommendedProductsTitle {
  color: white;
  border-top: #2d323a solid 2px;
  padding-top: 20px;
  width: 80vw;
  margin: auto;
  text-align: center;
}

/* CATALOG PAGE ////////////////////////////////////////////////////// */
/* CATALOG GRID ------------------------------------------------------ */
.catalogCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 10vw 20px 10vw;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.catalogCard {
 display: flex;
 overflow: hidden;
 background-color: #1A1D22;
 width: 230px;
 height: 300px;
 margin: 20px;
 justify-content: center;
 align-items: center;
 text-align: center;
 color: white;
 font-family: 'Montserrat', sans-serif;
 font-size: 36px;
 position: relative;
 border-radius: 5px;
 transition: transform 1s;
}

.catalogCard:hover {
 transform: scale(1.05);
 transition: 0.25s;
}

.catalogCard img {
 flex-shrink: 0;
 min-width: 100%;
 min-height: 100%;
}

.catalogCard p {
  color: white;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/* CONTACT PAGE ////////////////////////////////////////////////////// */
/* FORM DIV ---------------------------------------------------------- */
.contactFormDiv {
  color: white;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
 font-family: 'Montserrat', sans-serif;
}

.contactUsForm {
  grid-column-start: 3;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 4;
  padding: 1.5rem;
}

.contactUsForm h3 {
  color: #75828f;
  font-weight: bold;
}

/* FORM DIV ---------------------------------------------------------- */
.contactUsInfoDiv {
  color: white;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 1rem;
 font-family: 'Montserrat', sans-serif;
}

.contactUsLocation {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 1.5rem;
  text-align: center;
}

.contactUsCall {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 1.5rem;
  text-align: center;
}

.contactUsHours {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 1.5rem;
  text-align: center;
}

.with-errors {
  color: #ED1C24;
}

/* CONTACT INFO ACCORDION -------------------------------------------- */
.contactInfoAccordion {
  display: flex;
  justify-content: center;
  padding: 0 0 30px 0;
}

/* REP LOCATOR PAGE ////////////////////////////////////////////////// */
/* MAP --------------------------------------------------------------- */
/* #map {
  width: 900px;
	max-width: 100%;
  height: 500px;
  margin: auto;
  margin-bottom: 40px;
} */

/* #info_div {
  color: white;
  margin: auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 40px;
} */

#regions_div {
  width: 900px;
	max-width: 100%;
  height: 500px;
  margin: auto;
  margin-bottom: 40px;
}

/* MAP --------------------------------------------------------------- */
.repTableContainer {
  padding: 0 10vw 0 10vw;
  margin: 0 0 30px 0;
  font-family: 'Montserrat', sans-serif;
}

.repTableContainer :any-link {
  color: white;
}

.repTable {
  background-color: #1A1D22 !important;
}

#rep-locator-dropdown {
  color: white;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80vw;
  max-width: 1000px;
  font-family: 'Montserrat', sans-serif;
}

#rep-info {
  color: white;
}

#state-selection {
  border: none;
}
#state-selection:focus {
  outline: none;
}

/* FAQ PAGE ////////////////////////////////////////////////////////// */
/* FAQ ACCORDION ----------------------------------------------------- */
.faqAccordion {
  display: flex;
  justify-content: center;
  padding: 0 0 30px 0;
}

.faqAccordion h3 {
  color: #75828f;
  font-weight: bold;
  margin: 0 0 10px 0;
}

/* RETURN POLICY PAGE //////////////////////////////////////////////// */
/* POLICY PARAGRAPHS ------------------------------------------------- */
#returnPolicy {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 40px;
}

/* MEDIA QUERIES ///////////////////////////////////////////////////// */
/* Responsive for laptop screens */
@media screen and (max-width: 1440px) {
 .categoryGrid {
  height: 375px;
  flex: calc(100%);
 }
 .categoryGrid h3 {
  font-size: 24px;
}

.imageModal img {
  width: 100%;
  max-width: 1000px;
}

.imageModalCaption {
  width: 100%;
  max-width: 1000px;
}
}
/* Responsive for Ipad screens */
@media screen and (max-width: 1024px) {
  .categoryGrid {
  height: 350px;
  flex: calc(100%);
 }
 .categoryGrid h3 {
  font-size: 20px;
}
.imageModal img {
  width: 100%;
  max-width: 1000px;
}

.imageModalCaption {
  width: 100%;
  max-width: 1000px;
}
}
@media screen and (max-width: 840px) {
 .categoryGrid {
  flex: calc(100%);
  height: 340px;
 }
 .categoryGrid h3 {
  font-size: 20px;
}
.imageModal img {
  width: 100%;
  max-width: 1000px;
}

.imageModalCaption {
  width: 100%;
  max-width: 1000px;
}
}
@media screen and (max-width: 550px) {
 .categoryGrid {
    flex: calc(100%);
    height: 300px;
  }
  .categoryGrid h3 {
    font-size: 24px;
  }
  .imageModal img {
    width: 100%;
    max-width: 1000px;
  }
  
  .imageModalCaption {
    width: 100%;
    max-width: 1000px;
  }
}