body {
    margin: 0 auto;
    height: 100%;
    background-color: #1A1D22;
}

/* SCROLLBAR ---------------------------------------------------------- */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3c414b; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1A1D22; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(17, 19, 22);
}

/* GENERAL //////////////////////////////////////////////////////////// */

/* NAVBAR-------------------------------------------------------------- */
.navbar {
  background-color: #1A1D22 !important;
  border-bottom: #ED1C24 solid 4px;
  margin: auto;
}

#navDropdown {
  position: static;
}

#navDropdownMenu {
  width: 100%;
}

.navbar-toggler {
  border: none;
}

/* FILTERBAR ---------------------------------------------------------- */
.filterBar {
  border-bottom: none;
  justify-content: center !important;
  padding: 0 10vw 0 10vw;
}

/* DROPDOWNS ---------------------------------------------------------- */
.dropdown-menu.show {
  background-color: #2d323a;
}

.dropdown-menu a {
  color: white;
}

.dropdown-menu a.dropdown-item:hover {
  background-color: #2d323a;
  color: white;
  font-weight: 600;
}

/* BUTTONS ------------------------------------------------------------ */
.btn-danger {
  background-color: #3c414b;
  border: none;
}

.btn-secondary {
  background-color: #505a64;
  border: none;
}

/* PRODUCT CARDS ------------------------------------------------------ */
.productCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 10vw 20px 10vw;
}

.productCard {
  border: none;
  margin: 0 10px 20px 10px;
  border-radius: 15px;
  transition: transform 1s, box-shadow 1s;
}

.productCard:hover {
  transform: scale(1.05);
  transition: 0.5s;
  box-shadow: 5px 5px 5px black;
}

.productCardBody {
  background-color: #2d323a;
  color: white;
  border-radius: 0 0 10px 10px;
}

/* FOOTER ------------------------------------------------------------- */
.footer {
  color: white;
}

.footer :any-link {
  color: #007bff;
}

.fbIcon {
  color: white;
}

.twIcon {
  color: white;
}

/* LANDING PAGE /////////////////////////////////////////////////////// */

/* LANDING DIV--------------------------------------------------------- */
  .landingDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 70vh;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    position: relative;
    -moz-user-select: none;
    -webkit-user-select: none;
  }

  .landingTextContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .landingTextContainer h1 {
    color: white;
    font-size: 100px;
    font-weight: bold;
  }

  .landingDiv img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    animation: landingZoomOut 10s linear forwards;
  }

  @keyframes landingZoomOut {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.8);
    }
  }

 /* CATEGORY GRID ----------------------------------------------------- */
 .categoryGridContainer {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   margin: 20px;
   -moz-user-select: none;
   -webkit-user-select: none;
 }

.categoryGrid {
  display: flex;
  overflow: hidden;
  background-color: #2d323a;
  flex: calc(50% - 40px);
  height: 300px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  position: relative;
  transition: transform 1s, box-shadow 1s;
}

.categoryGrid:hover {
  background-image: none;
  background-color: #1A1D22;
  color: #2d323a;
  filter: none;
  transform: scale(1.05);
  transition: 0.5s;
  box-shadow: 5px 5px 5px black;
}

.categoryGrid img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  filter: opacity(30%);
}

.categoryGrid h3 {
  color: white;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/* FOOTBALL PAGE ////////////////////////////////////////////////////// */

/* HEADER ------------------------------------------------------------- */
.pageTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #1A1D22;
  padding: 85px 0 20px 0;
}

.pageTitle h2 {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

/* FOOTBALL PAGINATION -------------------------------------------------------- */
.footballPagination {
  display: flex;
  justify-content: center;
  margin: 0 0 20px 0;
}

.footballPagination a {
  background-color: #3c414b;
  border: #1A1D22 solid 1px;
}

.footballPagination a:hover {
  background-color: #007bff;
  border: #1A1D22 solid 1px;
}

.footballPagination :any-link {
  color: white;
}

/* TACKLE WHEEL PAGE ////////////////////////////////////////////////// */

/* BACK BUTTON -------------------------------------------------------- */
.backBtnContainer {
  display: flex;
  justify-content: center;
  margin: 80px 0 0 0;
}

.backBtnSubContainer {
  width: 80vw;
  max-width: 1400px;
}

.backBtn {
  justify-content: left;
  border: none;
}

/* PRODUCT DETAILS CARD ----------------------------------------------- */
.productDetailsContainer {
  display: flex;
  justify-content: center;
}

.productDetails {
  width: 80vw;
  max-width: 1400px;
  margin: 20px 0 40px 0;
  border: none;
  background: none !important;
}

.productDetailsImage {
  border-radius: 10px;
}

.productDetailsBtnRow {
  display: flex;
  flex-wrap: wrap;
}

.productDetailsBtn {
  margin-right: 20px;
}

/* RECOMMENDED PRODUCTS TITLE ----------------------------------------- */
.recommendedProductsTitle {
  color: white;
  border-top: #2d323a solid 2px;
  padding-top: 20px;
  width: 80vw;
  margin: auto;
  text-align: center;
}

/* CATALOG PAGE ////////////////////////////////////////////////////// */
/* CATALOG GRID ------------------------------------------------------ */

.catalogCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 10vw 20px 10vw;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.catalogCard {
 display: flex;
 overflow: hidden;
 background-color: #2d323a;
 width: 200px;
 height: 300px;
 margin: 20px;
 justify-content: center;
 align-items: center;
 text-align: center;
 color: white;
 font-family: 'Montserrat', sans-serif;
 font-size: 36px;
 position: relative;
 transition: transform 1s, box-shadow 1s;
 cursor: pointer;
}

.catalogCard:hover {
 background-image: none;
 background-color: #1A1D22;
 color: #2d323a;
 filter: none;
 transform: scale(1.05);
 transition: 0.5s;
 box-shadow: 5px 5px 5px black;
}

.catalogCard img {
 flex-shrink: 0;
 min-width: 100%;
 min-height: 100%;
 filter: opacity(30%);
}

.catalogCard p {
  color: white;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/* MEDIA QUERIES ////////////////////////////////////////////////////// */

/* Responsive for laptop screens */
@media screen and (max-width: 1440px) {
  .categoryGridContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
 .categoryGrid {
    overflow: hidden;
    height: 200px;
 }
}
/* Responsive for Ipad screens */
@media screen and (max-width: 1024px) {
  .categoryGridContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .categoryGrid {
    overflow: hidden;
    height: 150px;
 }
}
@media screen and (max-width: 840px) {
  .categoryGridContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
  }
 .categoryGrid {
    overflow: hidden;
    flex: calc(100% - 40px);
    height: 300px;
    margin: 20px;
 }
}
@media screen and (max-width: 550px) {
  .categoryGridContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
 .categoryGrid {
    overflow: hidden;
    height: 200px;
  }
}