body {
    margin: 0 auto;
    height: 100%;
    background-color: #1A1D22;
}

.no-scroll {
  overflow: hidden;
}

/* GENERAL /////////////////////////////////////////////////////////// */
/* NAVBAR------------------------------------------------------------- */
.navbar {
  background-color: #1A1D22 !important;
  border-bottom: #ED1C24 solid 4px;
  margin: auto;
 font-family: 'Montserrat', sans-serif;
}

#navDropdown {
  position: static;
}

#navDropdownMenu {
  width: 100%;
  background-color: rgba(17, 19, 22, .9);
}

.navbar-toggler {
  border: none;
}

#nav-search-icon {
  padding-right: 1rem;
  color: white;
  cursor: pointer;
}

#nav-search-icon:hover {
  color: #ED1C24;
}

input[type=text] {
  width: 35%;
  /* -webkit-transition: width 0.4s ease-in-out; */
  /* transition: width 0.4s ease-in-out; */
  border-radius: 5px;
  background-color: #1A1D22;
  color: white;
  border-color: #ED1C24;
  padding-left: 0.5rem;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 35%;
  outline: none;
}

/* DROPDOWNS --------------------------------------------------------- */
.dropdown-menu.show {
  background-color: #2d323a;
 font-family: 'Montserrat', sans-serif;
}

.dropdown-menu a {
  color: white;
}

.dropdown-menu a.dropdown-item:hover {
  background-color: #1A1D22;
  color: white;
  font-weight: 600;
}
/* FILTER BAR --------------------------------------------------------- */
.filter-bar {
  color: white;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80vw;
  max-width: 1000px;
  font-family: 'Montserrat', sans-serif;
}
/* ACCORDION --------------------------------------------------------- */
.accordionBody {
  background-color: #2d323a;
  color: white;
 font-family: 'Montserrat', sans-serif;
 border: #1A1D22 solid 3px;
}

.accordionBodyBg {
  background-color: #1A1D22;
}

.accordionLink {
  color: white;
  text-decoration: none !important;
}

.accordionLink:hover {
  color: #ED1C24;
}

/* BUTTONS ----------------------------------------------------------- */
.btn {
 font-family: 'Montserrat', sans-serif;
}

.btn-danger {
  background-color: #3c414b;
  border: none;
}

.btn:focus {
  box-shadow: none;
  border: none;
}

.btn-secondary {
  background-color: #505a64;
  border: none;
}

.btn-outline-light {
  border-color: #B5DCE2;
  color: #B5DCE2;
}

.btn-outline-light:hover {
  background-color: #B5DCE2;
  color: #1A1D22;
  border-color: #B5DCE2;
}

/* MODALS ---------------------------------------------------------*/
.modal-content {
  background-color: #2d323a !important;
  color: white;
}

.modal-content :any-link {
  color: white;
}

.modal-header {
  border-bottom: #3c414b solid 1px;
}

.modal-footer {
  border-top: #3c414b solid 1px;
}

.card-img-top {
  cursor: pointer;
}

.modalExpandImageBody {
  margin: auto;
  display: block;
  width: 100%;
}

.imageModal {
  background-color: rgba(0, 0, 0, 0.7);
  -moz-user-select: none;
  -webkit-user-select: none;
}

.imageModal img {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1000px;
  border-radius: 5px;
  margin-top: 10vh;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.imageModalCaption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1000px;
  text-align: center;
  color: white;
  padding: 10px 0 0 0;
  height: 150px;
  font-family: 'Montserrat', sans-serif;
}

/* PARAGRAPHS ---------------------------------------------------------*/
.defaultParagraph {
  color: white;
 font-family: 'Montserrat', sans-serif; 
}

#new-text-color1 {
  color: #00aced;
}
#new-text-color2 {
  color: #B5DCE2;
}

/* PRODUCT CARDS ----------------------------------------------------- */
.productCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 5vw 20px 5vw;
}

.productCard {
  border: none;
  margin: 0 10px 20px 10px;
  border-radius: 15px;
  background: #1A1D22;
  transition: transform .5s;
}

.productCard:hover {
  transform: scale(1.03);
  transition: 0.25s;
}

.productCardBody {
  background-color: #2d323a;
  color: white;
  border-radius: 0 0 10px 10px;
}

.productCardDescription {
  background-color: #1A1D22;
  color: white;
}

/* .productCard img {
  opacity: 0.5 !important;
} */

/* FOOTER ------------------------------------------------------------ */
.footer {
  color: white;
 font-family: 'Montserrat', sans-serif;
}

.footer :any-link {
  color: white;
}

.footer :any-link:hover {
  color: #B5DCE2;
}

.footerSocial {
  background-color: #2d323a !important;
}

.fbIcon {
  color: white;
}

.twIcon {
  color: white;
}

.activeFooterLink :any-link {
  color: #B5DCE2;
}

/* LANDING PAGE ////////////////////////////////////////////////////// */
/* LANDING DIV-------------------------------------------------------- */
  .landingDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 95vh;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    position: relative;
    -moz-user-select: none;
    -webkit-user-select: none;
  }

  .landingTextContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .landingTextContainer h1 {
    color: white;
    font-size: 100px;
    font-weight: bold;
    max-width: 90vw;
  }

  .landingDiv img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    /* animation: landingZoomOut 10s linear forwards; */
  }

  /* @keyframes landingZoomOut {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.8);
    }
  } */

  /* .rep-locator-landing-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1A1D22;
    color: white;
  } */

  /* Carousel 1 */
  .landing-carousel {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    /* overflow: hidden; */
    /* position: relative !important; */
    /* max-width: 1700px; */
    margin: auto;
    margin-bottom: 40px;
    /* padding: 1.5rem; */
  }

  /* .landing-carousel img {
    flex-shrink: 0 !important;
    min-width: 100% !important;
    min-height: 100% !important;
  } */

  .carousel-control-next:hover, .carousel-control-prev:hover {
    background-color: rgba(0, 0, 0, 0.2)
  }

  .carousel-item {
    min-width: 100%;
    min-height: 100%;
  }

 /* CATEGORIES GRID ---------------------------------------------------- */
.categories-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); */
  grid-template-columns: 45% 45%;
  grid-template-rows: 250px 250px 250px 250px;
  grid-gap: 1rem;
  text-align: center;
  justify-content: center;
  max-width: 2000px;
  margin: auto;
  margin-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
}

.categories-grid-item {
  background: #2d323a;
  padding: 1.5rem;
  color: white;
  border-radius: 0.3rem;

}

.categories-grid-item:hover {
  cursor: pointer;
  background: #1A1D22;
}

.categories-heading {
  display: grid;
  padding: 1rem;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

/* SOCIAL MEDIA GRID ---------------------------------------------------- */
.social-media-grid {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: 1fr;
  grid-template-areas: "twitter-feed featured-products";
  grid-gap: 1rem;
  padding: 0 5vw 40px 5vw;
  margin: auto;
  max-width: 2000px;
  font-family: 'Montserrat', sans-serif;
}

.social-media-grid-item {
  color: white;
}

#social-media-grid-item1 {
  color: white;
  grid-area: twitter-feed;
}

#social-media-grid-item2 {
  color: white;
  background-color: #2d323a;
  border-radius: 0.3rem;
  /* overflow-y: scroll !important; */
  max-height: 600px !important;
  grid-area: featured-products;
}

#featured-product-grid-item-header {
  background-color: #292f33;
  border-bottom: #677680 1px solid;
}

#featured-product-grid-item-body {
  padding: 1rem;
  background-color: #292f33;
}

/* #featured-product-grid-item-body:hover {
  background-color: rgba(25,30,35,.61);
} */

#featured-product-grid-item-body li:hover {
  cursor: pointer;
  color: #B5DCE2;
  background-color: rgba(25,30,35,.61);
}

.media-body {
  padding-top: 1rem;
}

 /* CATEGORY GRID ---------------------------------------------------- */
 /* .categoryGridContainer {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 20px 2vw 20px 2vw;
   -moz-user-select: none;
   -webkit-user-select: none;
 }

.categoryGrid {
  display: flex;
  overflow: hidden;
  background-color: #2d323a;
  flex: calc(50%);
  height: 425px;
  margin: 0px;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  position: relative; */
  /* transition: transform .5s; */
  /* cursor: pointer;
}

.categoryGrid:hover {
  background-image: none;
  background-color: #1A1D22;
  color: #2d323a;
  filter: none; */
  /* transform: scale(1.03); */
  /* transition: 0.25s;
}

.categoryGrid img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  filter: opacity(30%);
}

.categoryGrid h3 {
  color: white;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  top: 75%;
  left: 10%;
  cursor: pointer;
}*/

.collapse {
  /* overflow-y: scroll !important; */
  /* max-height: 250px !important; */
}

/* FOOTBALL PAGE ///////////////////////////////////////////////////// */
/* HEADER ------------------------------------------------------------ */
.pageTitle {
  display: block;
  overflow: hidden;
  text-align: center;
  background-color: #1A1D22;
  padding: 85px 0 0 0;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.pageTitle h2 {
  font-weight: bold;
}

/* LOADING PAGE ------------------------------------------------------ */
.loading-page {
  display: flex;
  height: 100vh;
  padding-top: 40vh;
  background-color: #1A1D22;
  color: white;
  justify-content: center;
}

/* FOOTBALL PAGINATION ----------------------------------------------- */
.footballPagination {
  display: flex;
  justify-content: center;
  margin: 0 0 20px 0;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.page-link:focus {
  box-shadow: none;
  border: none;
}

.footballPagination a {
  background-color: #1A1D22;
  border: #1A1D22 solid 1px;
}

.footballPagination a:hover {
  background-color: #1A1D22;
  border: #1A1D22 solid 1px;
  color: #ED1C24;
}

.footballPaginationActive a {
  background-color: #1A1D22;
  color: #ED1C24 !important;
}

.footballPagination :any-link {
  color: white;
}

#product-pagination {
  display: flex;
  justify-content: center;
  margin: 1rem 0 0 0;
}

.football-pagination, .baseball-pagination, .track-field-pagination, .padding-pagination, .strength-pagination {
  background-color: #1A1D22;
}

.btn {
  cursor: pointer;
}

.prev-btn {
  margin-right: 1rem;
}

.next-btn {
  margin-left: 1rem;
}

.disabled {
  background-color: #2d323a !important;
  cursor: not-allowed !important;
}

/* RECOMMENDED PRODUCTS TITLE ---------------------------------------- */
.recommendedProductsTitle {
  color: white;
  border-top: #2d323a solid 2px;
  padding-top: 20px;
  width: 80vw;
  margin: auto;
  text-align: center;
}

/* CATALOG PAGE ////////////////////////////////////////////////////// */
/* CATALOG GRID ------------------------------------------------------ */
.catalogCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 10vw 20px 10vw;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.catalogCard {
 display: flex;
 overflow: hidden;
 background-color: #1A1D22;
 width: 230px;
 height: 300px;
 margin: 20px;
 justify-content: center;
 align-items: center;
 text-align: center;
 color: white;
 font-family: 'Montserrat', sans-serif;
 font-size: 36px;
 position: relative;
 border-radius: 5px;
 transition: transform 1s;
}

.catalogCard:hover {
 transform: scale(1.05);
 transition: 0.25s;
}

.catalogCard img {
 flex-shrink: 0;
 min-width: 100%;
 min-height: 100%;
}

.catalogCard p {
  color: white;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/* CONTACT PAGE ////////////////////////////////////////////////////// */
/* FORM DIV ---------------------------------------------------------- */
.contactFormDiv {
  color: white;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
 font-family: 'Montserrat', sans-serif;
}

.contactUsForm {
  grid-column-start: 3;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 4;
  padding: 1.5rem;
}

.contactUsForm h3 {
  color: #75828f;
  font-weight: bold;
}

/* FORM DIV ---------------------------------------------------------- */
.contactUsInfoDiv {
  color: white;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 1rem;
 font-family: 'Montserrat', sans-serif;
}

.contactUsLocation {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 1.5rem;
  text-align: center;
}

.contactUsCall {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 1.5rem;
  text-align: center;
}

.contactUsHours {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 1.5rem;
  text-align: center;
}

.with-errors {
  color: #ED1C24;
}

/* CONTACT INFO ACCORDION -------------------------------------------- */
.contactInfoAccordion {
  display: flex;
  justify-content: center;
  padding: 0 0 30px 0;
}

/* DOWNLOADS PAGE ////////////////////////////////////////////////// */
#downloads-media-list {
  color: white;
  padding: 0 10vw 0 10vw;
  margin: 40px 0 40px 0;
}

#downloads-media-list li {
  margin-bottom: 30px;
}
/* #contact-us-call-btn {
  margin: 0 0 10px 0;
} */

/* REP LOCATOR PAGE ////////////////////////////////////////////////// */
/* MAP --------------------------------------------------------------- */
/* #map {
  width: 900px;
	max-width: 100%;
  height: 500px;
  margin: auto;
  margin-bottom: 40px;
} */

/* #info_div {
  color: white;
  margin: auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 40px;
} */

#regions_div {
  width: 900px;
	max-width: 100%;
  height: 500px;
  margin: auto;
  margin-bottom: 40px;
}

/* MAP --------------------------------------------------------------- */
.repTableContainer {
  padding: 0 10vw 0 10vw;
  margin: 0 0 30px 0;
  font-family: 'Montserrat', sans-serif;
}

.repTableContainer :any-link {
  color: white;
}

.repTable {
  background-color: #1A1D22 !important;
}

#rep-locator-dropdown {
  color: white;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80vw;
  max-width: 1000px;
  font-family: 'Montserrat', sans-serif;
}

#rep-info {
  color: white;
}

#state-selection {
  border: none;
}

#state-selection:hover {
  cursor: pointer;
}

#state-selection:focus {
  outline: none;
}

/* FAQ PAGE ////////////////////////////////////////////////////////// */
/* FAQ ACCORDION ----------------------------------------------------- */
.faqAccordion {
  display: flex;
  justify-content: center;
  padding: 0 0 30px 0;
}

.faqAccordion h3 {
  color: #75828f;
  font-weight: bold;
  margin: 0 0 10px 0;
}

/* RETURN POLICY PAGE //////////////////////////////////////////////// */
/* POLICY PARAGRAPHS ------------------------------------------------- */
#returnPolicy {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 40px;
}

/* MEDIA QUERIES ///////////////////////////////////////////////////// */
/* Responsive for laptop screens */
@media screen and (max-width: 1440px) {
 .categoryGrid {
  height: 375px;
  flex: calc(100%);
 }
 .categoryGrid h3 {
  font-size: 24px;
}

.imageModal img {
  width: 100%;
  max-width: 1000px;
}

.imageModalCaption {
  width: 100%;
  max-width: 1000px;
}
}
/* Responsive for Ipad screens */
@media screen and (max-width: 1024px) {
  .categoryGrid {
  height: 350px;
  flex: calc(100%);
 }
 .categoryGrid h3 {
  font-size: 20px;
}
.imageModal img {
  width: 100%;
  max-width: 1000px;
}

.imageModalCaption {
  width: 100%;
  max-width: 1000px;
}
.landingTextContainer h1 {
  font-size: 90px;
}
}
@media screen and (max-width: 840px) {
 .categoryGrid {
  flex: calc(100%);
  height: 340px;
 }
 .categoryGrid h3 {
  font-size: 20px;
}
.imageModal img {
  width: 100%;
  max-width: 1000px;
}
.imageModalCaption {
  width: 100%;
  max-width: 1000px;
}
.landingTextContainer h1 {
  font-size: 80px;
}
.social-media-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "twitter-feed"
  "featured-products";
  grid-gap: 1rem;
  padding: 0 5vw 0 5vw;
  margin: 0 0 40px 0;
  max-width: 2000px;
  justify-items: center;
}
#social-media-grid-item1 {
}
#social-media-grid-item2 {
}
}
@media screen and (max-width: 550px) {
 .categoryGrid {
    flex: calc(100%);
    height: 300px;
  }
  .categoryGrid h3 {
    font-size: 24px;
  }
  .imageModal img {
    width: 100%;
    max-width: 1000px;
  }
  
  .imageModalCaption {
    width: 100%;
    max-width: 1000px;
  }
  .landingTextContainer h1 {
    font-size: 50px;
  }
  .landingDiv img {
    min-width: 50%;
    min-height: 50%;
    /* animation: landingZoomOut 10s linear forwards; */
  }
}